.error-message {
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  opacity: 0.8;
  padding-left: 16px;
  background-color: rgba(237, 65, 89, 0.25);
  text-align: left;
  font-size: 14px;
  color: #ed4159;
  height: auto;
  width: 503px;
}

.error-message_position {
  margin: 0px auto 32px auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (max-width: 615px) {
  .error-message {
    width: 240px;
  }
  .error-message_position {
    margin: 0px auto 24px auto;
  }
}
