.avatar {
  width: 128px;
  height: 128px;
}

.avatar_position {
  padding: 48px 236px 40px 236px;
}

@media screen and (max-width: 615px) {
  .avatar {
    width: 86px;
    height: 86px;
  }

  .avatar_position {
    padding: 32px 101px 24px 101px;
  }
}
